<h1><%= pluralize(@tools.size, 'Tool') %></h1>

<% @tools.each do |tool| %>
  <article>
    <header>
      <h2><%= link_to tool.name, tool %></h2>
    </header>
    <p>
      <%= tool.description %>
    </p>
  </article>
<% end %>
