<article>
  <header>
    <h1><%= @tool.name %></h1>
  </header>
  <h2>Description</h2>
  <p>
    <%= @tool.description %>
  </p>
</article>

<%= link_to "All Tools", tools_path %>
<%= link_to "Edit", edit_tool_path(@tool) %>

