<aside id="sidebar">
  <nav>
    <ul>
      <li>
        <%= link_to 'All Tools', tools_path %>
      </li>
      <li>
        <%= link_to 'Add New Tool', new_tool_path %>
      </li>
    </ul>
  </nav>
</aside>
